#card{
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}
.Mostrar{
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
input[type=number]{
    width: 75px;
    height: 20px;
}
input[type=radio]{
    margin-right: 10px;
}

